<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This web app was created by<a href="http://fruitful.software"> Beau Carnes</a>.
  
  This is the sample application created as part of the <a href="http://www.railstutorial.org/"><em>Ruby on Rails
  Tutorial</em></a> 
</p>